<footer class="footer">
	<div class="container">
		<div class="footer__inner">
			<div class="footer__box">
				<div class="footer__copyright">Правильная Форма &copy; 2005 - 2019</div>
				<a class="footer__phone" href="tel:84959561850">8 (495) 956-18-50</a>
			</div>
			<div class="footer__box footer__box--flex">
				<ul class="footer__list-menu">
					<li>
						<a href="#">продукция</a>
					</li>
					<li>
						<a href="#">новости</a>
					</li>
				</ul>
				<ul class="footer__list-social">
					<li>
						<a href="#"><span class="footer__icon icon-instagram-with-circle"></span></a>
					</li>
					<li>
						<a href="#"><span class="footer__icon icon-facebook-with-circle"></span></a>
					</li>
					<li>
						<a href="#"><span class="footer__icon icon-vk-with-circle"></span></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>