<header class="header">
	<div class="container">
		<div class="header__inner">
			<ul id="contacts" class="contact-list contact-list--header">
				<li>
					<a href="tel:84959561850">
						<span class="contact-list__icon icon-Phone"></span>
						<span>8 (495) 956-18-50</span>
					</a>
				</li>
				<li>
					<a href="mailto:sale@trueform.ru">
						<span class="contact-list__icon icon-Email"></span>
						<span>sale@trueform.ru</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</header>