<aside id="menu" class="menu menu--hidden">
	<div class="menu__items">
		<div class="menu-icon menu-icon--mobile">
			<div class="menu-icon__inner">
				<span>Меню</span>
				<span class="menu-icon__burger"></span>
			</div>
		</div>
		<a href="#" id="logo" class="logo">
			<span class="logo__p">
				<i>равильная</i>
			</span>
			<span class="logo__f">
				<i>орма</i>
			</span>
		</a>
	</div>
	<div class="menu__inner">
		<nav class="nav">
			<div class="menu-icon menu-icon--desktop">
				<div class="menu-icon__inner">
					<span>Меню</span>
					<span class="menu-icon__burger"></span>
				</div>
			</div>
			<div class="nav__list">
				<div class="nav__item">
					<a href="index.html">Главная</a>
				</div>
				<div class="nav__item">
					<a href="works.html">Наши работы</a>
				</div>
				<div class="nav__item">
					<a href="#">Наши дизайны</a>
				</div>
				<div class="nav__item">
					<a href="products.html">Продукция</a>
				</div>
				<div class="nav__item">
					<a href="#">О нас</a>
				</div>
				<div class="nav__item">
					<a href="#">Контакты</a>
				</div>
				<div class="nav__item nav__item--sale">
					<a href="#">
						<span class="icon-sale"></span>
						<span>Sale</span>
					</a>
				</div>
			</div>
		</nav>
		<ul class="contact-list contact-list--column">
			<li>
				<a href="tel:84959561850">
					<span class="contact-list__icon icon-Phone"></span>
					<span>8 (495) 956-18-50</span>
				</a>
			</li>
			<li>
				<a href="mailto:sale@trueform.ru">
					<span class="contact-list__icon icon-Email"></span>
					<span>sale@trueform.ru</span>
				</a>
			</li>
		</ul>
	</div>
</aside>