<div class="close-menu"></div>

<div class="popup popup--table-size popup--hidden">
	<div class="popup__wrap">
		<a href="#" class="popup__close js-close-popup"></a>
		<h3 class="title title--small title--popup title--center">
			<span>Женская одежда</span>
		</h3>
		<div class="table-size">
			<table>
				<thead>
					<tr>
						<th>размер</th>
						<th class="table-size__cell-empty"></th>
						<th>обхват груди, см</th>
						<th>обхват талии, см</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>S</td>
						<td class="table-size__cell-empty"></td>
						<td>78 - 82</td>
						<td>60 - 64</td>
					</tr>
					<tr>
						<td>M</td>
						<td class="table-size__cell-empty"></td>
						<td>82 - 86</td>
						<td>64 - 68</td>
					</tr>
					<tr>
						<td>L</td>
						<td class="table-size__cell-empty"></td>
						<td>86 - 90</td>
						<td>68 - 92</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>