body {
	visibility: visible;
	opacity: 1;
	color: $mainColor;
	font-family: $robotoRegular;
	font-size: 15px;
	transition: opacity .8s 0s, visibility 0s 0s;

	&.loading {
		visibility: hidden;
		opacity: 0;
	}
}

.main {
	flex: 1 0 auto;
	position: relative;

	&__col {
		margin-top: 50px;
	}
}

.contact-list {
	display: flex;
	font-size: 13px;
	font-family: $robotoBold;

	li {

		&:nth-child(n+2) {
			margin-left: 40px;
		}
	}

	a {
		display: flex;
		align-items: center;
	}

	span:not(.contact-list__icon) {
		white-space: nowrap;
	}

	&__icon {
		margin-right: 5px;
		font-size: 14px;
	}

	&--column {
		flex-direction: column;
		font-size: 16px;
		margin-top: 15px;
		padding-left: 30px;

		li {

			&:nth-child(n+2) {
				margin-left: 0;
				margin-top: 20px;
			}
		}

		span:not(.contact-list__icon) {
			width: 0%;
			opacity: 0;
			visibility: hidden;
			@include transitionCustom(.3s);
		}

		.contact-list__icon {
			margin-right: 10px;
		}
	}
}

.section {

	&__main {
		margin-top: 100px;
	}
}

// Section production--------------------
.section-production {

	&__inner {
		margin-top: 40px;
		counter-reset: num;
	}

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;

		&:nth-child(n+2) {
			margin-top: 90px;
		}

		&:nth-child(even) {

			.section-production__media {
				order: -1;
				padding-left: 0;
				padding-right: 25px;
			}
		}
	}

	&__col-text {
		flex-shrink: 0;
		max-width: 500px;
		width: 100%;
		position: relative;
		padding-top: 25px;

		&:before {
			counter-increment: num;
			content: "№ " counter(num);
			position: absolute;
			top: 0;
			left: 0;
			color: $colorText2;
			font-family: $robotoBold;
			text-transform: uppercase;
		}
	}

	&__wrap-text {
		margin-top: 25px;
	}

	&__media {
		padding-left: 25px;

		video {
			max-height: 485px;
			max-width: 870px;
			width: 100%;
		}
	}
}

.title-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

%itemline {
	content: "";
	position: absolute;
	bottom: -5px;
	left: 0;
	height: 4px;
	background-color: $lineBg;
}

.infolist-us {
	display: flex;
	font-size: 13px;
	text-transform: uppercase;
	font-family: $robotoBold;


	li {
		position: relative;

		&:nth-child(n+2) {
			margin-left: 50px;

			&:after {
				@extend %itemline;
				right: 0;
			}
		}

		&:first-child {

			span {
				position: relative;
	
				&:after {
					@extend %itemline;
					width: 3.4em;
				}
			}
		}
	}
}

// Sections slider--------------------
.section-slider {

	&__inner {
		margin-top: 25px;
		position: relative;

		.swiper-button-prev,
		.swiper-button-next {
			font-size: 16px;
			width: 2.87em;
			height: 2.87em;
			background: #1e1f24;
			outline: none;
			z-index: 1;

			span {
				position: absolute;
				top: 50%;
				left: 1.12em;
				transform: translateY(-50%) rotate(-45deg);
				width: 1.25em;
				height: 1.25em;

				&:after {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					border: {
						top: .125em solid #fff;
						left: .125em solid #fff;
					}
				}
			}
		}

		.swiper-button-prev {
			left: -.625em;
		}

		.swiper-button-next {
			right: -.625em;

			span {
				left: .5em;
				transform: translateY(-50%) rotate(135deg);
			}
		}
	}

	&__products-img {
		display: flex;
		position: relative;

		&:before,
		&:after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			z-index: 1;
			transform: translate(-50%, -50%);
			background-color: #a0a0a0;
			font-size: 16px;
			height: .313em;
			width: 2.5em;
			border-radius: .5em;

			@include md {
				font-size: 13px;
			}

			@include xs {
				font-size: 10px;
			}
		}

		&:after {
			transform: translate(-50%, -50%) rotate(90deg);
		}
	}

	&__box-products-img {
		flex: 1 0 0%;
		overflow: hidden;
		background-color: $slidesBg;
		max-height: 400px;

		img {
			object-fit: cover;
			width: 100%;
			height: 100%;
			max-height: 400px;
		}
	}

	&__titles {
		display: flex;

		.title {
			width: 50%;
		
			@include lg {
				font-size: 12px;
			}
		}
	}

	&__box-products-info {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 10px;
	}
}

// Section call--------------------
.section-call {

	&__inner {
		background-color: $othersBg;
		padding: 80px 20px;
	}
}

// Section products--------------------
.section-products {

	&__inner {
		display: flex;
		margin: 0 -5px;
	}

	&__col {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex: 1 0 0%;

		&--center {
			flex: 1 0 13.5%;
		}
	}

	&__img {
		padding: 5px;
		flex-shrink: 0;
		display: block;
		overflow: hidden;
		max-height: 455px;
		height: 50%;
		text-align: center;

		img {
			object-fit: cover;
			max-height: 467px;
			height: 100%;
			width: 100%;
		}

		&--center {
			height: auto;
			width: 100%;
			max-height: 360px;
			
			img {
				max-height: 360px;
			}
		}
	}

	&__modal {
		flex-shrink: 0;
		display: flex;
		padding: 5px;
	}

	&__modal-inner {
		margin: auto;
	}
}

//Section-reviews------------------
.section-reviews {

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__col {

		&:first-child {
			flex: 1 0 430px;
		}
	}

	&__slider {
		margin-left: 20px;
		padding: 0 20px 20px 25px;
	}

	&__slide {
		text-align: center;

		a {
			display: inline-block;
		}

		img {
			width: 100%;
			max-width: 225px;
			max-height: 328px;
			box-shadow: 0 9px 20px rgba(0, 0, 0, 0.15);
		}
	}
}

// Section-aboutus-----------------
.section-aboutus {

	.container {
		
		& > *:not(.title) {
			margin-top: 20px;
			font-size: 15px;
			line-height: 1.6em;
	
			@include xs {
				font-size: 14px;
			}
		}
	}

	ul {
		padding-left: 1.3em;
		list-style: outside;
	}

	p {

		&:nth-child(n+2) {
			margin-top: 20px;
		}
	}
}

// Section-product-----------------
.section-product {

	&__top {
		display: flex;
		align-items: flex-start;
	}

	&__info {
		margin: 35px 0 0 35px;
		max-width: 480px;
		width: 100%;
	}

	&__info-item {

		&:nth-child(n+2) {
			margin-top: 25px;
		}
	}

	&__bottom {
		margin-top: 45px;
	}
}

.slider-thumbs {
	width: 43%;
	display: flex;
}

.gallery-main {
	width: 80%;

	&--w100 {
		width: 100%;
	}

	img {
		max-height: 700px;
	}
}

.gallery-thumbs {
	order: -1;
	width: 20%;
	margin-right: 10px;

	.swiper-slide {
		overflow: hidden;
		max-height: 150px;
		opacity: .8;
		transition: opacity .3s ease;

		&.swiper-slide-thumb-active {
			opacity: 1;
		}
	}

	img {
		max-height: 150px;
		vertical-align: middle;
	}
}

.price-list {
	display: flex;
	font-size: 23px;
	line-height: 1em;
	font-family: $robotoBold;
	margin-top: 1em;

	&--20 {
		font-size: 20px;
		margin-top: 0;
	}
}

.price-item {

	&:nth-child(n+2) {
		margin-left: .8em;
	}

	&--new {
		color: $colorPriceNew;
	}

	&--old {
		color: $colorPriceOld;
		
		span {
			position: relative;
		
			&:after {
				content: "";
				position: absolute;
				top: 50%;
				left: -.2em;
				right: -.2em;
				transform: translateY(-50%) rotate(-30deg);
				background-color: rgba($colorPriceOld, .7);
				height: .087em;
			}
		}
	}

	span {
		
		span {
			font-family: $robotoRegular;
			font-size: .65em;
		}
	}
}

.product-description {

	&__list {
		font-size: 13px;
		line-height: 1em;
		padding-left: 1.3em;
		list-style: outside;

		li {
			margin-top: 1.1em;
		}
	}
}

.table-size {
	font-size: 12px;
	margin-top: 3.3em;
	font-family: $robotoMedium;

	&__cell-empty {
		padding: 0 1.5em;
	}

	table {
		width: 100%;
		border-spacing: 0 1.6em;
	}

	th {
		text-align: left;
		font-size: .91em;
		line-height: 1em;
		text-transform: uppercase;
		color: #B1B1B1;
		padding-bottom: 1.8em;
		border-bottom: 1px solid $mainColor;
	}

	td {
		text-transform: uppercase;
		font-size: 1em;
		line-height: 1em;
		padding-bottom: 1.6em;
		border-bottom: 1px solid $mainColor;
	}
}

.tabs {
	display: flex;
	font-size: 18px;
	font-family: $robotoBold;
	text-transform: uppercase;
	line-height: 1em;

	li {
		color: #d3d3d4;
		position: relative;
		transition: color .3s ease;

		&:after {
			content: "";
			position: absolute;
			bottom: -.3em;
			left: 0;
			right: 0;
			height: .11em;
			background-color: $mainColor;
			opacity: 0;
			transition: opacity .3s ease;
		}

		&:hover {
			color: $mainColor;

			&:after {
				opacity: 1;
			}
		}

		&:nth-child(n+2) {
			margin-left: 1.3em;
		}

		&.active {
			color: $mainColor;

			&:after {
				opacity: 1;
			}
		}
	}
}

.tab-content {
	margin-top: 25px;

	&__item {
		display: none;
		width: 100%;

		&--descroption {
			max-width: 1280px;
		}

		&--questions {
			max-width: 1100px;
		}

		&.active {
			display: block;
		}
	}
}

.questions-list {
	margin-top: 10px;
}

.questions-item {

	&--question:nth-of-type(n+2) {
		margin-top: 35px;
	}

	&__top {
		display: flex;
		align-items: center;
	}

	&__name {
		font-family: $robotoBold;
	}

	&__date {
		display: flex;
		align-items: center;
		margin-left: 1em;
	}

	&__text {
		margin-top: .5em;
	}

	&--answer {
		margin-top: 20px;
		padding-left: 45px;

		.questions-item__name,
		.questions-item__text {
			padding-left: 35px;
		}

		.questions-item__name {
			position: relative;
		}

		.questions-item__name {
			color: #B42222;
		}
	}
}

.icon-date {
	margin-right: .3em;
}

.icon-anserw {
	position: absolute;
	top: 2px;
	left: 0;
	font-size: 18px;
}

// Products---------------------
.products {

	&__inner {
		margin-top: 30px;
	}

	&__sort {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.catalog {
	background-color: #f7f7f7;
	text-transform: uppercase;
	font-family: $robotoBold;
	font-size: 11px;
	line-height: 1em;
	letter-spacing: .1em;
	display: flex;
	flex-wrap: wrap;
	padding: 5px;
	margin-bottom: 35px;

	li {
		padding: 15px 20px;
	}

	a {
		transition: color .3s ease;

		&:hover {
			color: $colorText2;
		}
	}
}

.product-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -10px;
}

.product-item {

	&--card {
		width: 25%;
		padding: 20px 10px;

		.product-item__img {
			position: relative;
		}
	}

	&__img {
		display: block;
		overflow: hidden;
		max-height: 400px;

		img {
			object-fit: cover;
			width: 100%;
			height: 100%;
			max-height: 400px;
		}
	}

	&__bottom {
		margin-top: 10px;
	}

	&__bottom-flex {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

// Pagination----------------------
.pagination-list {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	line-height: 1em;
	font-family: $robotoBold;
	margin-top: 2em;
}

%center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.pagination-item {
	flex-shrink: 0;
	width: 2.3em;
	height: 2.3em;
	border-radius: 50%;

	@include xs {
		width: 2em;
		height: 2em;
	}

	a {
		position: relative;
		display: inline-block;
		height: 100%;
		width: 100%;
		border-radius: 50%;
		border: 1px solid #fff;
		@include transitionEase(.3s);

		span {
			@extend %center;
		}
	}

	&--num {
		margin: 0 .14em;

		&:hover {
			
			a {
				border: 1px solid #b42222;
				background-color: #b42222;
				color: $colorText1;
			}
		}

		&.active {
			
			a {
				border: 1px solid #b42222;
				background-color: #b42222;
				color: $colorText1;
			}
		}
	}

	&--dots {
		margin: 0 .14em;
		position: relative;

		span {
			@extend %center;
		}
	}

	&--control {
		opacity: 0;
		visibility: hidden;

		&.active {
			opacity: 1;
			visibility: visible;
		}
		
		a {
			border: 1px solid #B1B1B1;

			span {
				@extend %center;
				border: {
					top: 1px solid #B1B1B1;
					left: 1px solid #B1B1B1;
				}
				width: .7em;
				height: .7em;
				@include transitionEase(.3s);
			}
		}

		&:hover {

			a {
				background-color: #B1B1B1;

				span {
					border: {
						top: 1px solid #fff;
						left: 1px solid #fff;
					}
				}
			}
		}
	}

	&--next {
		margin-left: 1em;

		a {

			span {
				left: .6em;
				transform: translateY(-50%) rotate(135deg);
			}
		}

		@include xs {
			margin-left: .5em;

			a {

				span {
					left: .4em;
				}
			}	
		}
	}

	&--prev {
		margin-right: 1em;

		a {

			span {
				left: .8em;
				transform: translateY(-50%) rotate(-45deg);
			}
		}

		@include xs {
			margin-right: .5em;
		}
	}
}

// Works------------------
.works {

	&__inner {
		margin-top: 30px;
	}
}

.works-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -5px;
}

.work-item {

	&--card {
		width: 25%;
		padding: 25px 5px;
	}

	&__call {
		width: 25%;
		padding: 25px 5px;
	}

	&__call-inner {
		background-color: rgba(255, 222, 222, .3);
		height: 0;
		padding-top: 121.5%;
		position: relative;
	}

	&__call-box {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding: 20px 30px;

		.text {
			max-width: 230px;
			line-height: 1.2em;
		}
	}

	&__img {
		display: block;
		overflow: hidden;
		max-height: 480px;

		img {
			object-fit: cover;
			width: 100%;
			height: 100%;
			max-height: 480px;
		}
	}

	&__logo {
		display: flex;
		align-items: center;
		margin-top: 15px;

		img {
			max-height: 45px;
		}
	}

	&__name {
		margin-left: 10px;
		font-size: 14px;
	}
}