// Custo Scroll---------------
.simplebar-horizontal {
	display: none;
}

.simplebar-vertical {

	&.simplebar-track {
		right: 10px;
	}

	.simplebar-scrollbar {

		&:before {
			background: #E8E8E8;
		}
	}
}

// Title-------------------
h3 {
	text-transform: uppercase;
	font-family: $robotoBold;
	font-size: 18px;
	letter-spacing: .043em;

	@include md {
		font-size: 16px;
	}

	@include xs {
		font-size: 15px;
	}
}

.title {
	text-transform: uppercase;
	font-family: $robotoBold;

	&--main {
		font-size: 23px;
		letter-spacing: .04em;

		@include md {
			font-size: 20px;
		}

		@include xs {
			font-size: 16px;
			text-align: center;
		}
	}

	&--small {
		font-size: 18px;
		letter-spacing: .043em;

		@include md {
			font-size: 16px;
		}

		@include xs {
			font-size: 15px;
		}
	}

	&--smallest {
		font-size: 13px;

		@include xs {
			font-size: 12px;
		}
	}

	&--product {
		font-size: 23px;
		letter-spacing: .04em;

		@include md {
			font-size: 16px;
		}

		@include xs {
			text-align: left;
		}
	}

	&--description {
		font-size: 11px;
		font-family: $robotoMedium;
		color: #b1b1b1;
	}

	&--abs {

		@include xs {
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	&--center {
		text-align: center;
	}

	&--mt10 {
		margin-top: .8em;
	}

	&--mt20 {
		margin-top: 1.5em;
	}

	&--mt30 {
		margin-top: 1.6em;
	}
}

// Text-------------------
.text {

	&--main {
		font-size: 15px;
		line-height: 1.6em;

		@include xs {
			font-size: 14px;
		}
	}
	
	&--center {
		text-align: center;
	}

	&--mt10 {
		margin-top: .8em;
	}

	&--mt15 {
		margin-top: 1em;
	}

	&--mt20 {
		margin-top: 1.3em;
	}

	&--mt30 {
		margin-top: 2em;
	}

	&--mt40 {
		margin-top: 2.6em;
	}

	&--inner-mt {

		p {

			&:nth-child(n+2) {
				margin-top: 1.3em;
			}
		}
	}

	&--product {
		font-size: 13px;
		line-height: 1.5em;

		@include sm {
			margin-top: 1em;
		}
	}

	&--description {
		line-height: 1.3em;
	}

	&--date {
		font-size: 13px;
		line-height: 1em;
		color: #b1b1b1;
	}

	&--products {
		font-size: 13px;
		line-height: 1em;

		span {
			font-family: $robotoBold;
		}
	}
}

// Btn--------------------
.btn-wrap {

	&:hover {

		.btn--main,
		.btn--second {
			will-change: color;

			&:after {
				will-change: bottom right;
			}
		}
	}

	&--production {
		margin-top: 30px;

		@include lg {
			margin-top: 20px;
		}

		@include xs {
			margin-top: 15px;
		}
	}

	&--center {
		text-align: center;
	}

	&--mt10 {
		margin-top: 10px;
	}

	&--mt20 {
		margin-top: 20px;
	}

	&--mt25 {
		margin-top: 25px;
	}

	&--mt30 {
		margin-top: 30px;
	}

	&--ml10 {
		margin-left: 10px;

		@include md {
			margin-left: 0;
		}
	}

	&--ml20 {
		margin-left: 20px;

		@include md {
			margin-left: 10px;
		}

		@include sm {
			text-align: center;
			margin-left: 0;
			margin-top: 20px;
		} 
	}

	&--right {
		text-align: right;
	}

	&__col {

		.btn--call {
			min-width: 14.5em;

			@include sm {
				min-width: auto;
			}
		}
		
		&--add {

			@include md {
				width: 100%;
				margin-top: 10px;
			}
		}
	}
}

%hoverBtn {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	right: -100%;
	bottom: -100%;
	z-index: 1;
	@include transitionEase(.4s);
}

.btn {
	display: inline-block;
	text-transform: uppercase;
	font-family: $robotoBold;
	font-size: 12px;
	padding: 1em 1.25em;
	line-height: 1em;
	letter-spacing: .16em;
	width: 100%;
	text-align: center;
	position: relative;
	overflow: hidden;
	transition: color .4s ease;

	&--main {
		background-color: $btnBg1;
		border: 1px solid $btnBg1;
		max-width: 15.4em;
		color: $colorText1;

		span {
			position: relative;
			z-index: 2;
		}

		&:after {
			@extend %hoverBtn;
			background-color: $btnBg2;
		}

		&:hover {
			color: $mainColor;

			&:after {
				bottom: 0%;
				right: 0%;
			}
		}
	}

	&--main-big {
		max-width: 22.3em;
	}

	&--second {
		max-width: 12.5em;
		background-color: $btnBg2;
		border: 1px solid $mainColor;

		span {
			position: relative;
			z-index: 2;
		}

		&:after {
			@extend %hoverBtn;
			background-color: $btnBg1;
		}

		&:hover {
			color: $colorText1;

			&:after {
				bottom: 0%;
				right: 0%;
			}
		}
	}

	&--visible {
		max-width: 16.7em;
	}

	&--call {
		padding: 1.1em 1.25em;
	}

	&--add-to-cart {
		min-width: 18.7em;
		height: 100%;

		@include md {
			min-width: auto;
			max-width: none;
		}
	}

	&--size {
		text-transform: none;
		font-family: $robotoRegular;
		font-size: 13px;
		padding: 0;
		letter-spacing: 0;
		width: auto;
		text-align: left;
		overflow: visible;

		&:after {
			content: "";
			position: absolute;
			bottom: -1px;
			left: 0;
			right: 0;
			height: 1px;
			background-color: $mainColor;
		}
	}

	&--buy {
		max-width: none;
		min-width: 16.6em;
	}
}

// Breadcrumbs--------------------
.breadcrumbs {
	display: flex;
	flex-wrap: wrap;
	font-size: 12px;
	line-height: 1.8em;
	margin-bottom: 2.5em;

	li {
		position: relative;
		flex-shrink: 0;
		
		&:nth-child(n+2) {
			padding-left: .83em;

			&:before {
				content: "/";
				position: absolute;
				left: 0;
				top: 0;
				color: $breadCrambsColor;
			}
		}

		&:nth-last-child(n+2) {
			padding-right: .42em;
		}
		
		a {
			color: $breadCrambsColor;
			@include transitionEase(.3s);

			&:hover {
				color: $mainColor;
			}
		}
	}

	@include sm {
		margin-bottom: 1.8em;
	}

	@include xs {
		font-size: 11px;
	}
}

// Status--------------------
.stickers {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	font-size: 11px;
	line-height: 1em;
	font-family: $robotoBold;
	text-transform: uppercase;
	color: $colorText1;

	@include xs {
		font-size: 9px;
	}
}

.sticker {
	min-width: 12.5em;
	width: 100%;
	padding: 1.2em 2em;
	text-align: center;

	&:nth-child(n+2) {
		margin-top: .5em;
	}
	
	&--sell-out {
		background-color: $stickerSelloutBg;
	}

	&--new {
		background-color: $stickerNewBg;
	}
}	

// Inputs--------------------
.form {

	&--mt20 {
		margin-top: 20px;
	}

	&--mt40 {
		margin-top: 40px;
	}

	&--sort {
		
		@include sm {
			margin-top: 5px;
		}
	}

	&__flex {
		display: flex;
	}

	&__center {
		justify-content: center;
	}

	&__add-to-cart {
		justify-content: flex-start;

		@include md {
			flex-wrap: wrap;
			justify-content: space-between;
		}

		@include sm {
			margin-top: 10px;
		}
	}

	&__questions {
		
		& > div {

			&:nth-child(n+2) {
				margin-top: 10px;
			}
		}

		.btn {

			@include xs {
				max-width: none;
			}
		}
	}

	&__call-card {
		width: 100%;

		& > div {
			width: 100%;

			&:nth-child(n+2) {
				margin-top: 10px;
			}
		}

		.btn {
			max-width: none;
		}
	}
}

input,
textarea,
select {
	font-size: 14px;
	line-height: 1em;
	border: 1px solid #DCDCDC;
	padding: .8em 1.2em;
	width: 100%;
	background-color: #fff;
	color: $mainColor;
	transition: border .2s ease;

	&:focus {
		border: 1px solid $mainColor;
	}
}

textarea {
	min-height: 90px;
}

.select-size,
.input-quantity {
	height: 100%;
}

.sort {
	font-size: 13px;
	border: none;
	padding: .5em 1em;

	&:focus {
		border: none;
	}

	@include sm {
		padding: .5em 1em .5em 0;
	}
}

.input-wrap {

	&__col {
		min-width: 300px;
		max-width: 300px;

		&--ml10 {
			margin-left: 10px;
		}

		&--ml20 {
			margin-left: 20px;
		}

		@include md {
			min-width: 240px;

			&--ml20 {
				margin-left: 10px;
			}
		}

		@include sm {
			min-width: auto;
			max-width: 300px;
			margin: 0 auto;

			&--ml20 {
				margin-left: 0;
				margin: 20px auto 0;
			}

			&--ml10 {
				margin: 0;
				margin-left: 10px;
			}
		}

		&--size {
			min-width: 140px;
			max-width: 140px;

			@include md {
				min-width: auto;
				max-width: none;
				width: 48%;
			}

			@include sm {
				margin: 0;
			}
		}

		&--quantity {
			min-width: 85px;
			max-width: 85px;

			@include md {
				min-width: auto;
				max-width: none;
				width: 48%;
			}
		}
	}

	&__label {
		display: block;
		position: relative;
		
		&--select-size {

			&:after {
				content: "";
				position: absolute;
				top: 15px;
				right: 15px;
				border: {
					top: 2px solid #B1B1B1;
					left: 2px solid #B1B1B1;
				}
				transform: rotate(-135deg);
				width: 8px;
				height: 8px;
				pointer-events: none;
			}
		}

		&--select-size {
			height: 100%;
		}

		&--sort {

			&:after {
				content: "";
				position: absolute;
				top: 50%;
				right: 3px;
				transform: translateY(-50%);
				border-color: $mainColor transparent transparent;
				border-width: 4px 4px 0;
				border-style: solid;
				width: 4px;
				height: 4px;
				pointer-events: none;
			}
		}
	}

	&--name {
		max-width: 370px;
		width: 100%;

		@include xs {
			max-width: none;
		}
	}
}

// Popups--------------------
.no-scroll {
	overflow-y: scroll;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.popup {
	position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .15);
	opacity: 0;
	z-index: 10;
	visibility: hidden;
	transition: opacity .3s 0s, visibility 0s .3s;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	display: flex;
	align-items: flex-start;

	&.js-popup-show {
        opacity: 1;
		visibility: visible;
		transition: opacity .3s 0s, visibility 0s 0s;

		.popup__wrap {
			transform: translateY(0);
		}
	}

	&--hidden {
		display: none;
	}

	&__wrap {
		position: relative;
        max-width: 570px;
        width: 100%;
		transform: translateY(-40px);
		transition-duration: .3s;
		background-color: #fff;
		padding: 50px 40px;
		margin: auto;
	}

	&__close {
		width: 25px;
		height: 25px;
		position: absolute;
		top: 15px;
		right: 15px;

		&:before,
		&:after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) rotate(45deg);
			width: 25px;
			height: 2px;
			background-color: #B1B1B1;
		}

		&:after {
			transform: translate(-50%, -50%) rotate(-45deg);
		}
	}
}

// Lazy load--------------------
.lazy {
	opacity: .1;
    will-change: opacity;
	transition: opacity .3s;
	
	&.loaded {
		opacity: 1;
	}
}