html,
body {
	height: 100%;
}

.container {
    width: 100%;
    padding: 0 15px 0 95px;
    max-width: 1710px;
	margin: 0 auto;

	@include md {
		padding: 0 15px;
	}
}

.height-helper {
	display: flex;
	flex-direction: column;
	height: 0;
	min-height: 100%;
}