@font-face {
    font-family: 'robotoblack';
    src: url('../fonts/roboto/robotoblack.eot');
    src: url('../fonts/roboto/robotoblack.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto/robotoblack.woff2') format('woff2'),
        url('../fonts/roboto/robotoblack.woff') format('woff'),
        url('../fonts/roboto/robotoblack.ttf') format('truetype'),
        url('../fonts/roboto/robotoblack.svg#robotoblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold';
    src: url('../fonts/roboto/robotobold.eot');
    src: url('../fonts/roboto/robotobold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto/robotobold.woff2') format('woff2'),
        url('../fonts/roboto/robotobold.woff') format('woff'),
        url('../fonts/roboto/robotobold.ttf') format('truetype'),
        url('../fonts/roboto/robotobold.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotomedium';
    src: url('../fonts/roboto/robotomedium.eot');
    src: url('../fonts/roboto/robotomedium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto/robotomedium.woff2') format('woff2'),
        url('../fonts/roboto/robotomedium.woff') format('woff'),
        url('../fonts/roboto/robotomedium.ttf') format('truetype'),
        url('../fonts/roboto/robotomedium.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto/robotoregular.eot');
    src: url('../fonts/roboto/robotoregular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto/robotoregular.woff2') format('woff2'),
        url('../fonts/roboto/robotoregular.woff') format('woff'),
        url('../fonts/roboto/robotoregular.ttf') format('truetype'),
        url('../fonts/roboto/robotoregular.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon/icomoon.eot?rxsq35');
    src: url('../fonts/icomoon/icomoon.eot?rxsq35#iefix') format('embedded-opentype'),
        url('../fonts/icomoon/icomoon.ttf?rxsq35') format('truetype'),
        url('../fonts/icomoon/icomoon.woff?rxsq35') format('woff'),
        url('../fonts/icomoon/icomoon.svg?rxsq35#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-sale:before {
    content: "\e907";
    color: #b51c1c;
}

.icon-Email:before {
    content: "\e901";
}

.icon-Phone:before {
    content: "\e902";
}

.icon-Reply:before {
    content: "\e903";
    color: #b42222;
}

.icon-Time:before {
    content: "\e904";
    color: #c4c4c4;
}

.icon-arrow-right:before {
    content: "\e900";
}

.icon-vk-with-circle:before {
    content: "\e908";
}

.icon-facebook-with-circle:before {
    content: "\e90a";
}

.icon-instagram-with-circle:before {
    content: "\e909";
}