.footer {
	margin-top: 80px;
	flex-shrink: 0;
	padding: 30px 0;
	background-color: $footerBg;
	font-size: 12px;
	text-transform: uppercase;
	color: $colorFooter;

	@include xs {
		margin-top: 60px;
	}

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include sm {
			flex-direction: column;
			justify-content: flex-start;
			text-align: center;
		}
	}

	&__copyright {

		@include sm {
			margin-top: 15px;
		}
	}

	&__phone {
		display: inline-block;
		margin-top: 15px;
	}

	&__box {

		&--flex {
			display: flex;
			align-items: center;

			@include sm {
				order: -1;
				display: block;
			}
		}
	}

	&__list-menu {
		display: flex;

		li {

			&:nth-child(n+2) {
				margin-left: 35px;
			}
		}

		a {
			font-family: $robotoBold;
			@include transitionEase(.4s);

			&:hover {
				color: $mainColor;
			}
		}
	}

	&__list-social {
		margin-left: 20px;
		display: flex;

		@include sm {
			margin-left: 0;
			margin-top: 15px;
			justify-content: center;
		}

		li {

			&:nth-child(n+2) {
				margin-left: 15px;
			}
		}
		
		a {
			display: inline-block;
		}
	}

	&__icon {
		font-size: 24px;

		&:before {
			@include transitionEase(.4s);
		}

		&:hover {

			&:before {
				color: $mainColor;
			}
		}
	}
}