// MAX-WIDTH --------------------
@media screen and (max-width: 1199px) {	
	// Section production--------------------
	.section-production {

		&__row {

			&:nth-child(n+2) {
				margin-top: 50px;
			}
		}

		&__col-text {
			flex-shrink: 1;
		}

		&__wrap-text {
			margin-top: 15px;
		}

		&__media {
			flex-shrink: 0;

			video {
				max-width: 450px;
			}
		}
	}

	.infolist-us {
		font-size: 12px;

		li {

			&:nth-child(n+2) {
				margin-left: 30px;
			}
		}
	}

	// Section products--------------------
	.section-products {

		&__modal {

			.btn-wrap {
				margin-top: 15px;
			}
		}
	}

	//Section-reviews------------------
	.section-reviews {

		&__slider {
			padding: 0 10px 12px;
		}

		&__slide {
	
			img {
				box-shadow: 0 9px 10px rgba(0, 0, 0, 0.15);
			}
		}
	}

	// Section-product-----------------
	.section-product {

		&__info {
			margin: 0 0 0 35px;
		}
	}

	.product-description {

		.title,
		.text {
			display: none;
		}

		&__list {
			margin-bottom: 1.53em;
		}
	}

	// Product-----------------------
	.product-item {

		&--card {
			width: 33.3%;
		}
	}

	// Works-----------------------
	.work-item {

		&--card,
		&__call {
			width: 33.3%;
		}

		&__logo {
			margin-top: 10px;

			img {
				max-height: 35px;
			}
		}
	}
}

@media screen and (max-width: 991px) {
	// Header--------------
	.header {
		display: none;
		padding: 0;
	}

	@keyframes opacityMenuForMedia991 {
		0% {
			opacity: 0;
		}
	
		70% {
			opacity: 0;
		}
	
		100% {
			opacity: 1;
		}
	}

	// Aside menu-----------
	.menu {
		right: 0;
		bottom: auto;
		width: auto;
		min-height: 0;
		padding: 0 15px;
		border-bottom: 1px solid #959595;
		animation: opacityMenuForMedia991 .5s;
		transition: border-bottom .3s ease;

		&:before,
		&:after {
			display: none;
		}

		&.active {
			border-bottom: 1px solid #fff;

			.menu-icon--mobile {

				.menu-icon__burger {
					height: 0;

					&:before {
						transform: rotate(-45deg);
					}

					&:after {
						transform: rotate(45deg);
						width: 20px;
					}
				}
			}

			.filter,
			.nav__list {
				transition: none;
			}
			
			.menu__inner {
				transform: translateY(0%);
			}
		}

		&__items {
			flex-grow: 1;
			display: flex;
			justify-content: space-between;
			align-items: center;
			position: relative;
			z-index: 1;
			padding: 20px 0;
			background-color: #fff;
		}

		&__inner {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			height: 0;
			min-height: 100%;
			background-color: #fff;
			padding: 15px 0 25px;
			transform: translateY(-300%);
			transition: transform .5s cubic-bezier(.77, 0, .175, 1);
		}
	}

	.close-menu {
		background-color: #fff;
		box-shadow: none;

		&.active {
			transition-delay: 0s;
		}
	}

	.nav {
		padding: 70px 15px 0;
		margin-top: 0;

		&:before,
		&:after {
			display: none;
		}

		&__list {
			opacity: 1;
			visibility: visible;
			width: auto;
			max-height: 50vh;
			min-height: 100px;
			transition: none;
		}
	}

	.logo {
		font-size: 20px;
		padding-left: 0;
		width: 13em;

		&.min {
			width: 2em;
		}
	}

	.menu-icon {

		&--desktop {
			display: none;
		}

		&--mobile {
			display: block;
			margin-right: 10px;
			position: relative;
			z-index: 1;
		}
	}

	.contact-list {

		&--column {
			padding-left: 15px;
			font-size: 13px;

			span:not(.contact-list__icon) {
				width: auto;
				opacity: 1;
				visibility: visible;
				transition: none;
			}
		}

		&--header {
			margin-left: 10px;
			position: relative;
			z-index: 1;
			animation: opacityMenu .5s;
			transition: opacity .3s ease;


			li {

				&:nth-child(n+2) {
					margin-left: 30px;
				}
			}
			
			span:not(.contact-list__icon) {
				display: none;
			}
		}
	}

	.filter {		
		opacity: 1;
		visibility: visible;
		transition: none;

		&__inner {
			padding-right: 0;
		}
	}

	// Main---------------
	.main {

		&__inner {
			padding-top: 90px;
		}
	}

	.section {

		&__main {
			margin-top: 70px;
		}
	}

	// Section production--------------------
	.section-production {

		&__row {
			display: block;

			&:nth-child(even) {

				.section-production__media {
					padding-right: 0;
				}
			}
		}

		&__col-text {
			max-width: none;

			&:before {
				font-size: 13px;
			}
		}

		&__media {
			padding-left: 0;
			margin-top: 25px;

			video {
				max-width: none;
				max-height: 550px;
			}
		}
	}

	// Section products--------------------
	.section-products {

		&__inner {
			flex-wrap: wrap;
			margin: 0 -10px;
		}

		&__col {
			flex: auto;
			width: 50%;

			&--center {
				width: auto;
				order: -1;
				flex-flow: row wrap;
			}
		}

		&__img {
			padding: 10px;
			max-height: 455px;

			&--center {
				width: 50%;
			}

			img {
				max-height: 467px;
			}
		}

		&__modal {
			order: -1;
			width: 100%;
			margin-bottom: 15px;
		}
	}

	//Section-reviews------------------
	.section-reviews {

		&__inner {
			display: block;
		}

		&__col {

			&:first-child {

				.text {
					font-size: 14px;
	
					&--mt40 {
						margin-top: 1.5em;
					}
				}
			}
		}

		&__slider {
			margin-left: 0;
			margin-top: 30px;
			padding: 0 10px 15px;
		}
	}

	// Section-product-----------------
	.section-product {

		&__info {
			margin: 0 0 0 20px;
		}
	}

	.slider-thumbs {
		flex-direction: column;
	}
	
	.gallery-main {
		width: 100%;
	}
	
	.gallery-thumbs {
		order: 0;
		width: 100%;
		padding-top: 10px;
		padding-right: 0;
	
		.swiper-wrapper {
			flex-direction: row;
		}

		.swiper-slide {
			max-height: none;
		}

		img {
			max-height: 160px;
		}
	}

	.questions-item {

		&--question:nth-of-type(n+2) {
			margin-top: 30px;
		}

		&--answer {
			margin-top: 15px;
		}
	}

	// Product-----------------------
	.product-item {

		&--card {
			width: 50%;
		}
	}

	// Works-----------------------
	.works {

		&__inner {
			margin-top: 20px;
		}
	}

	.works-list {
		justify-content: center;
	}

	.work-item {

		&--card,
		&__call {
			width: 42%;
		}
	}
}

@media screen and (max-width: 767px) {
	// Aside menu-----------
	.menu {

		&__items {
			padding: 5px 0;
		}
		
	}

	.logo {
		font-size: 16px;
	}

	.nav {
		padding: 40px 15px 0;
	}

	// Main---------------
	.main {

		&__inner {
			padding-top: 50px;
		}
	}

	// Section production--------------------
	.title-wrap {
		display: block;
	}

	.infolist-us {
		margin-top: 20px;
	}

	// Section call--------------------
	.section-call {

		&__inner {
			padding: 50px 20px;
		}
	}

	// Section products--------------------
	.section-products {

		&__inner {
			display: block;
		}

		&__col {
			display: block;
			max-width: 500px;
			width: 100%;
			margin: 0 auto;

			&--center {
				margin-bottom: 0;
			}
		}

		&__img {
			text-align: center;

			&--center {
				width: 100%;
			}
		}

		&__modal {
			margin: 20px 0;
		}
	}

	// Section-product-----------------
	.section-product {

		&__top {
			flex-direction: column;
			align-items: center;
		}

		&__info {
			margin: 20px 0 0;
			max-width: 500px;
		}

	}

	.slider-thumbs {
		max-width: 500px;
		width: 100%;
	}

	.gallery-thumbs {

		img {
			max-height: 175px;
		}
	}

	.price-list {
		margin-top: .5em;

		&--20 {
			margin-top: 0;
		}
	}

	.questions-item {

		&--answer {
			padding-left: 20px;
		}
	}

	// Products---------------------
	.products {

		&__inner {
			margin-top: 25px;
		}
	
		&__sort {
			flex-direction: column;
			align-items: flex-start;
		}
	}

	.catalog {
		font-size: 10px;
		padding: 5px 0;
		margin-bottom: 30px;

		li {
			padding: 10px;
		}
	}

	// Product-----------------------
	.product-list {
		flex-direction: column;
		align-items: center;
	}

	.product-item {

		&--card {
			max-width: 400px;
			width: 100%;
			padding: 15px 10px;
		}
	}

	// Works-----------------------
	.works {

		&__inner {
			margin-top: 15px;
		}
	}

	.work-item {

		&--card,
		&__call {
			max-width: 400px;
			width: 100%;
			padding: 15px 5px;
		}
	}

	// Inputs--------------------
	.form {

		&__call {
			display: block;
		}
	}
}

@media screen and (max-width: 479px) {
	// Aside menu-----------
	.menu-icon {

		&--mobile {

			.menu-icon__inner {
				height: 15px;
				padding-left: 20px;
			}

			span:not(.menu-icon__burger) {
				display: none;
			}
		}
	}
	
	.logo {
		font-size: 14px;
	}

	.contact-list--header {
		display: none;
	}

	// Main---------------
	.main {

		&__inner {
			padding-top: 45px;
		}

		&__col {
			margin-top: 30px;
		}
	}

	// Section production--------------------
	.section-production {

		&__row {
			
			&:nth-child(n+2) {
				margin-top: 35px
			}
		}

		&__media {
			margin-top: 20px;
		}
	}

	.infolist-us {
		margin-top: 20px;
		flex-direction: column;
		align-items: flex-start;
		font-size: 11px;

		li {

			&:nth-child(n+2) {
				margin-left: 0;
				margin-top: 20px;
			}
		}
	}

	// Sections slider--------------------
	.section-slider {

		&__inner {

			.swiper-button-prev,
			.swiper-button-next {
				font-size: 10px;
			}
		}

		&__titles {
			flex-direction: column;
			align-items: center;

			.title {
				width: 100%;

				&:nth-child(n+2) {
					margin-top: .8em;
				}
			}
		}

		&__box-products-info {
			margin-top: 5px;

			.btn-wrap {
				width: 100%;

				.btn {
					max-width: none;
				}
			}
		}
	}

	// Section products--------------------
	.section-products {

		&__inner {
			margin: 0 -5px;
		}

		&__img {
			padding: 5px;
		}
	}

	// Section-aboutus-----------------
	.section-aboutus {

		h3 {
			text-align: center;
		}
	}

	// Section-product------------------
	.table-size {
		font-size: 10px;
		margin-top: 2.3em;

		&__cell-empty {
			padding: 0;
		}
	}

	.questions-list {
		margin-top: 25px;
	}

	.questions-item {

		&--question:nth-of-type(n+2) {
			margin-top: 25px;
		}

		&__top {
			flex-direction: column;
			align-items: flex-start;
		}

		&__date {
			margin-left: 0;
			margin-bottom: .2em;
			order: -1;
		}

		&__text {
			margin-top: .2em;
		}

		&--answer {
			padding-left: 0;

			.questions-item__name,
			.questions-item__text,
			.questions-item__date {
				padding-left: 30px;
			}
		}

		.icon-anserw {
			top: 50%;
			transform: translateY(-50%);
			font-size: 16px;
		}
	}

	// Product-----------------------
	.product-item {

		&__bottom-flex {
			flex-direction: column;
			align-items: flex-start;

			.btn-wrap {
				margin-top: 10px;
				width: 100%;
			}

			.btn {
				max-width: none;
			}
		}
	}

	// Works-----------------------
	.works {

		&__inner {
			margin-top: 10px;
		}
	}
	.work-item {
		text-align: center;

		&__logo {
			flex-direction: column;
		}

		&__name {
			margin-left: 0;
			margin-top: 5px;
		}
	}
	
	// Inputs--------------------
	.form {

		&__call {
			margin-top: 25px;
		}
	}

	// Popups-------------------
	.popup {

		&__wrap {
			padding: 40px 20px 20px;
		}
	}
}

// MIN-WIDTH --------------------
@media screen and (min-width: 480px) {
    
}

@media screen and (min-width: 768px) {
    
}

@media screen and (min-width: 992px) {
    
}

@media screen and (min-width: 1200px) {
    
}