@keyframes opacityMenuForMedia1199 {
	0% {
		opacity: 0;
	}

	70% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

%linearLine {
	content: "";
	position: absolute;
	z-index: 1;
	right: 0;
	width: 1px;
	transition-delay: .5s;
	@include transitionCustom(1s);
}

.menu {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	z-index: 10;
	min-height: 550px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 15px 0 20px;
	width: 80px;
	background-color: #fff;
	animation: opacityMenuForMedia1199 .5s;
	@include transitionWidth(.4s);

	&--hidden {
		display: none;
	}

	&:hover {
		will-change: width;

		&:before,
		&:after {
			will-change: opacity;
		}

		.nav {

			&:before {
				will-change: top;
			}

			&:after {
				will-change: bottom;
			}

			&__list {
				will-change: opacity;

				a {
					will-change: paddind-left;

					&:after {
						will-change: opacity;
					}
				}
			}
		}

		.contact-list--column {

			a {

				span + span {
					will-change: opacity;
				}
			}
		}

		.menu-icon--desktop {
			will-change: opacity;
		}

		.logo {
			will-change: width;

			&__p {
				will-change: width;
			}
	
			&__f {
				will-change: width margin-left;
			}
	
			i {
				will-change: opacity;
			}
		}
	}

	&:before {
		@extend %linearLine;
		top: 0;
		bottom: 80%;
		background: linear-gradient(180deg, #FFFFFF 60%, rgba(0, 0, 0, 0) 105%);
	}

	&:after {
		@extend %linearLine;
		top: 80%;
		bottom: 0;
		background: linear-gradient(360deg, #FFFFFF 60%, rgba(0, 0, 0, 0) 105%);
	}

	&.active {

		@include mdMin {
			width: 370px;

			&:before,
			&:after {
				opacity: 0;
			}

			.nav {

				&:before {
					top: -50vh;
				}
			
				&:after {
					bottom: -50vh;
				}

				&__list {
					width: 100%;
					opacity: 1;
					visibility: visible;
					@include transitionWOV(.5s);
				}
			}

			.contact-list--column {

				a {

					span + span {
						width: 100%;
						opacity: 1;
						visibility: visible;
						@include transitionCustom(.5s);
					}
				}
			}

			.menu-icon--desktop {
				opacity: 0;
				visibility: hidden;
			}

			.filter {
				opacity: 1;
				visibility: visible;
				transition: opacity .5s 0s cubic-bezier(.77, 0, .175, 1), visibility 0s 0s;
			}
		}		
	}

	&--filter {

		.nav__list {
			display: none;
		}

		.contact-list--column {
			display: none;
		}

		.filter {
			display: block;
		}
	}

	&--notransition {

		.nav__list,
		.filter {
			transition: none !important;
		}
		
	}

	&__inner {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: calc(100% - 60px);
	}
}

.logo {
	display: flex;
	flex: 0 auto;
	font-size: 25px;
	font-family: $robotoBold;
    text-transform: uppercase;
	line-height: 1em;
	position: relative;
    z-index: 2;
	letter-spacing: .08em;
	width: 14em;
	padding-left: 1.2em;
	white-space: nowrap;
	@include transitionWidth(.5s);

	&.min {
		width: 3.2em;

		.logo__p {
			width: 1.52em;
		}

		.logo__f {
			margin-left: -1.11em;
			width: 1.68em;
		}

		i {
			opacity: 0;
			width: 0%;
			visibility: hidden;
		}
	}

	&__p {
		position: relative;
		padding-left: 1.52em;
		height: 2.28em;
		line-height: 2.28em;
		@include transitionWidth(.5s);
		overflow: hidden;
		width: 8em;
	
		&:before {
			content: "";
			position: absolute;
			top: 50%;
			left: -.2em;
			transform: translateY(-50%);
			background: url("../img/p.png") no-repeat center center;
			width: 1.8em;
			height: 2em;
			background-size: contain;
		}
	}

	&__f {
		position: relative;
		line-height: 2.28em;
		padding-left: 1.68em;
		@include transitionWM(.5s);
		width: 4.8em;

		&:before {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			background: url("../img/f.png") no-repeat center center;
			background-size: contain;
			width: 1.68em;
    		height: 2em;
		}
	}

	i {
		display: inline-block;
		visibility: visible;
		width: 100%;
		opacity: 1;
		transition-property: opacity, visibility, width;
		transition-duration: .5s;
		transition-timing-function: cubic-bezier(.77, 0, .175, 1);
	}
}

%lineForMenu {
	content: "";
	position: absolute;
	right: 0;
	background-color: #959595;
	width: 1px;
	@include transitionCustom(.5s);
}

.nav {
	flex-grow: 1;
	margin-top: 25px;
	position: relative;
	padding-left: 30px;

	&:before {
		@extend %lineForMenu;
		top: 0%;
		bottom: 50%;
	}

	&:after {
		@extend %lineForMenu;
		top: 50%;
		bottom: 0%;
	}

	&__list {
		padding-right: 30px;
		height: 65vh;
		max-height: 65vh;
		opacity: 0;
		visibility: hidden;
		width: 0%;
		@include transitionWOV(.3s);
	}

	&__item {

		&:nth-child(n+2) {
			margin-top: 15px;
		}

		a {
			font-size: 13px;
			text-transform: uppercase;
			font-family: $robotoBold;
			overflow: hidden;
			transition-property: padding-left, color;
			transition-duration: .4s;
			transition-timing-function: ease;
			position: relative;
			white-space: nowrap;

			&:after {
				content: "";
				position: absolute;
				top: 50%;
				left: -100%;
				transform: translateY(-50%);
				height: 2px;
				width: 20px;
				background-color: $navBtnBgActive;
				opacity: 0;
				@include transitionEase(.3s);
			}


			&:hover {
				color: $navBtnBgActive;
				padding-left: 25px;

				&:after {
					left: 0%;
					opacity: 1;
				}
			}
		}

		&--filter {

			a {
				padding-left: 0;
	
				&:after {
					display: none;
				}
	
				&:hover {
					padding-left: 0;
				}
	
				.icon-arrow-right {
					display: inline-block;
					padding-left: 10px;
					font-size: 14px;
				}
			}
		}

		&--sale {

			a {
				padding-left: 28px;
				line-height: 1em;

				&:after {
					display: none;
				}

				&:hover {
					padding-left: 28px;
				}
			}

			.icon-sale {
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				font-size: 22px;
				line-height: 1em;
			}
		}
	}

	@include mdMin {

		&:hover {

			.menu-icon--desktop .menu-icon__burger {
				animation: .3s lineBurgerSecond infinite alternate;

				&:before {
					animation: .3s lineBurgerFirst infinite alternate;
				}
	
				&:after {
					animation: .3s lineBurgerThird infinite alternate;
				}
			}
		}
	}
}

%burger {
	position: absolute;
    top: 0;
    left: 0;
	height: 1px;
	width: 20px;
	background-color: #000000;
}

@keyframes lineBurgerFirst {
	0% {
		width: 20px;
	}

	50% {
		width: 15px;
	}

	100% {
		width: 20px;
	}
}

@keyframes lineBurgerSecond {
	0% {
		width: 20px;
	}

	50% {
		width: 22px;
	}

	100% {
		width: 15px;
	}
}

@keyframes lineBurgerThird {
	from {
		width: 15px;
	}

	to {
		width: 5px;
	}
}

.menu-icon {
	cursor: pointer;

	&--desktop {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		@include transitionCustom(.6s);

		.menu-icon__inner {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) rotate(-90deg);
		}
	}

	&--mobile {
		display: none;
		
		.menu-icon__inner {
			position: relative;

		}
	}

	span:not(.menu-icon__burger) {
		display: inline-block;
		line-height: 100%;
		font-family: $robotoBlack;
		font-size: 12px;
		color: #000;
		text-transform: uppercase;
	}

	&__inner {
		padding-left: 35px;
	}

	&__burger {
		@extend %burger;
		top: 50%;
		transform: translateY(-50%);
		@include transitionCustom(.3s);

		&:before,
		&:after {
			content: "";
			@extend %burger;
			transform: translateY(-5px);
			@include transitionCustom(.3s);
		}

		&:after {
			transform: translateY(5px);
			width: 15px;
		}
	}
}

.close-menu {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .15);
	visibility: hidden;
	opacity: 0;
	z-index: 9;
	overflow: hidden;
	transition: opacity 0.3s 0s, visibility 0s 0.3s;
	box-shadow: inset 10px -5px 54px rgba(0, 0, 0, .15);

	&.active {
		opacity: 1;
		visibility: visible;
		transition: opacity 0.3s 0s, visibility 0s 0s;
		transition-delay: .4s;
	}
}

.filter {
	display: none;
	opacity: 0;
	visibility: hidden;
	transition: opacity .3s 0s cubic-bezier(.77, 0, .175, 1), visibility 0s .5s;
	white-space: nowrap;

	&__btn-back {

		a {
			display: inline-flex;
			align-items: center;
			font-size: 13px;
			transition: color .2s ease;

			&:hover {
				color: $navBtnBgActive;
			}
		}

		.icon-arrow-right {
			transform: rotate(180deg);
			display: inline-block;
			padding-left: 10px;
			font-size: 14px;
		}
	}

	&__inner {
		margin-top: 25px;
		padding-right: 50px;
		height: calc(100vh - 180px);
	}

	&__list {
		text-transform: uppercase;
		font-size: 12px;
		line-height: 1em;
		letter-spacing: .1em;

		&:nth-child(n+2) {
			margin-top: 25px;
		}

		a {
			transition: color .2s ease;

			&:hover {
				color: $navBtnBgActive;
			}
		}
	}

	&__title {
		font-family: $robotoBold;
		font-size: 1em;
		line-height: 1em;
		padding-bottom: .5em;
		border-bottom: 1px solid $mainColor;
	}

	&__item {
		margin-top: 1em;

		&:nth-of-type(n+5) {
			display: none;
		}
	}

	&__sublist {
		padding-left: 1.7em;
		display: none;
	}

	&__subtitle {

		&.active {
			color: $navBtnBgActive;
		}
	}

	&__subitem {
		margin-top: .8em;
		font-size: .9em;

		&:nth-child(n+4) {
			display: none;
		}
	}

	&__show {
		font-size: 1.1em;
		font-style: italic;
		text-transform: none;
		margin-top: 1em;

		&--subitem {
			margin-top: .8em;
		}

		a {
			position: relative;
			padding-left: 1.1em;

			&:before {
				content: "+";
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				font-style: normal;
			}
		}
	}
}