// Transition
@mixin transitionEase($time) {
	transition: all $time ease;
}

@mixin transitionCustom($time) {
	transition: all $time cubic-bezier(.77, 0, .175, 1);
}

@mixin transitionWidth($time) {
	transition: width $time cubic-bezier(.77, 0, .175, 1);
}

@mixin transitionWOV($time) {
	transition: width  $time cubic-bezier(.77, 0, .175, 1), opacity $time cubic-bezier(.77, 0, .175, 1), visability $time cubic-bezier(.77, 0, .175, 1);
}

@mixin transitionWM($time) {
	transition: width  $time cubic-bezier(.77, 0, .175, 1), margin $time cubic-bezier(.77, 0, .175, 1);
}

// Placeholder
@mixin input-placeholder {
	&.placeholder { @content; }
	&:-moz-placeholder { @content; }
	&::-moz-placeholder { @content; }
	&:-ms-input-placeholder { @content; }
	&::-webkit-input-placeholder { @content; }
}

// Media 
@mixin xs { @media screen and (max-width: #{$screen-xs-max}) {@content;} }
@mixin sm { @media screen and (max-width: #{$screen-sm-max}) {@content;} }
@mixin md { @media screen and (max-width: #{$screen-md-max}) {@content;} }
@mixin lg { @media screen and (max-width: #{$screen-lg-max}) {@content;} }
@mixin mdMin { @media screen and (min-width: #{$screen-md-min}) {@content;} }