// Media 
$screen-xs-max: 479px;
$screen-sm-max: 767px;
$screen-md-max: 991px;
$screen-lg-max: 1199px;
$screen-md-min: 992px;

// Fonts
$robotoBlack: 'robotoblack', sans-serif;
$robotoBold: 'robotobold', sans-serif;
$robotoMedium: 'robotomedium', sans-serif;
$robotoRegular: 'robotoregular', sans-serif;

// Colors
$mainColor: #1E1F24;
$colorText1: #FFFFFF;
$colorText2: #B42222; 
$colorpPaceholder: #B1B1B1;
$colorFooter: rgba(#1E1F24, .5);
$colorBreadcrumbs: #B1B1B1; 
$colorOldPrice: #888888;
$breadCrambsColor: #b1b1b1;
$colorPriceNew: #b42222;
$colorPriceOld: #888888;

// Backgrounds
$btnBg1: #B42222;
$btnBg2: #FFFFFF;
$footerBg: #F0F0F0;
$lineBg: #B42222;
$stickerSelloutBg: #E73D0F;
$stickerNewBg: #1E1F24;
$navBtnBgActive: #B42222;
$othersBg: #F0F0F0;
$slidesBg: #f7f7f7;